<div class="container">
  <div class="row">
    <div id="user-search">
      <div class="input-group col-md-12">
        <form method="get" action="/searchResults">
          <h2 id="text">SEARCH FOR DRUG:</h2>
            <input type="text" id="searchTextbox" name="searchdrug" placeholder=" Search..." required="">
            <!-- <input type="submit" name="search" value="Search" id="searchButton"> -->
            <button type="submit" class="btn btn-info">
              <span class="glyphicon glyphicon-search"></span>
            </button>
            </span>
        </form>
      </div>
    </div>
  </div>
</div>
