#pillbox4 {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    width: 825px;
    height: 550px;
    margin-top: -100px;
    margin-left: 150px;
}

.wrapper {
    overflow: hidden;
}

#drug {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    height: 80px;
    float: left;
}

.glyphicon-search {
    padding: 7px 12px 7px 12px;
    margin-top: 40px;
    margin-left: 30%;
    border-radius: 100px;
    color: white;
    width: 10%;
    border: none;
    float: left;
}
#text{
  color: black;
  font-size: 35px;
  text-align: center;
  margin-top: -25px;
}

#drug-general-info {
  display: inline-block;
  width: 140px;
  min-height: 1px;
}

.divider {
  padding: 0 100px 0 100px;
  margin-left: 30px;
  height:auto;
  display:inline-block;
}

#drugChoice {
  padding: 25px;
  color: #FFF;
  background: #5DBEDF;
  border-radius: 25px;
  border: none;
}

#drugPrescription {
  padding: 25px;
  color: #FFF;
  background: #5DBEDF;
  border-radius: 25px;
  border: none;
}
