.background {
    background-image: url("img/pillbox4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    margin-top: 200px;
}

.wrapper {
    overflow: hidden;
}

#searchTextbox {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    height: 80px;
    float: left;
}

.glyphicon-search {
    padding: 7px 12px 7px 12px;
    margin-top: 40px;
    margin-left: 30%;
    border-radius: 100px;
    color: white;
    width: 10%;
    border: none;
    float: left;
}
#text{
  color: black;
  font-size: 35px;
  text-align: center;
}
